.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  font-family: Arial, sans-serif;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #2c3e50;
  color: white;
  display: flex;
  justify-content: space-between;
  
  padding: 0 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.header h1 {
  margin-right:1200px;
  font-size: 20px;
}
.button-container {
  display: flex;
  gap: 35px;
  justify-content: center;
  align-items: center;
  margin-left: 1100px;
  
}

.button {
  background-color: green;
  margin-top: -60px;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: green;
}

.logout {
  background-color: #ff4444;
}

.logout:hover {
  background-color: #cc0000;
}
.button a {
  color: white; 
  text-decoration: none; 
  display: block; 
}


.sidebar {
  
  height: 30%;
  width: 200px;
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin-top: 80px;
}

.sidebar li {
  margin: 10px 0;
  padding: 10px;
  cursor: pointer;
  color: #1f4e79;
  border-bottom: 1px solid #ddd;
}

.sidebar li:hover {
  background-color: #bdf2f9;
}

.content {
  margin-left: 270px;
  padding: 20px;
  margin-top: 30px;
  display: flex; 
  flex-direction: column; 
  align-items: center;
  justify-content: flex-start; 
}


.heading {
  font-size: 2rem; 
  font-weight: bold; 
  text-align: center; 
  margin: 40px 0; 
  color: #0844A4;
  white-space: nowrap; 
}

.courses {
  display: flex;
  flex-wrap: nowrap;
     gap: 60px;
       margin-top: 20px;
          margin-left: 50px;
        }
        
      
.course-card {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 250px;
  text-align: center;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.course-card img {
  width: 100%;
  height: auto; 
  max-height: 300px; 
  object-fit: cover;
}

.course-card h3 {
  font-size: 18px;
  margin: 10px 0;
}

.course-card p {
  font-size: 14px;
  color: #666;
  margin: 0 10px 10px;
}

.course-card .button.enroll {
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  margin: 10px 0;
}

.course-card .button.enroll:hover {
  background-color: #218838;
}

.footer1 {
  width: 100%;
  background-color: rgb(138, 135, 135);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  position: fixed;
  bottom: 0;
  left: 0;
  
}

.footer-link {
  color: #ffffff;
  margin: 0 15px;
  text-decoration: none;
  
}

.footer-link:hover {
  text-decoration: underline;
}


