
body, h1, h2, h3, p, ul, li, a, button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.m {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-top: 20px;
}

header.hr {
  background-color: #0044cc;
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header.hr h1 {
  font-size: 24px;
  
 
}

.user-actions {
  display: flex;
  gap: 10px;
}

.user-actions .btn-m, 
.user-actions .btn-n {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.user-actions .btn-m:hover,
.user-actions .btn-n:hover {
  background-color: #0056b3;
}


.c {
  display: flex;
}

.main-con {
padding: 100px;
  background-color: #ffffff;
 
}

.p {
  text-align: center; 
  font-size: 28px; 
  margin-top: 300px;
 
}
.syllabus-tableu {
  width: 60%; 
  margin: 400px auto;
 
  border-collapse: collapse;
  font-size: 14px; 
  
  padding: 30px;

  
}

.syllabus-tableu th,
.syllabus-tableu td {
  border: 1px solid #ddd;
text-align: left;
  padding: 15px;
}

.syllabus-tableu th {
  background-color: #0044cc;
  color: white;
  font-size: 14px; 
}

.syllabus-tableu tr:nth-child(even) {
  background-color: #f9f9f9; 
}

.syllabus-tableu tr:hover {
  background-color: #ddd; 
}


.btn2 {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.btn2:hover {
  background-color: #0056b3;
}


footer {
  background-color: #0044cc;
  color: white;
  text-align: center;
  padding: 10px 0;
  margin-top: auto;
}
