/* Sidebar.css */
.sidebart {
    width: 250px;
    background-color: #333;
    color: white;
    padding: 15px;
    position: fixed;
    height: 90%;
    top: 50px;
    left: 0;
    
  }
  
  .sidebart ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebart li {
    margin: 15px 0;
  }
  
  .sidebart a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding: 8px;
    border-radius: 4px;
  }
  
  .sidebart a:hover {
    background-color: #575757;
  }
  
  .sidebart li:first-child {
    font-size: 18px;
    font-weight: bold;
  }
  