
.reset-container {
    max-width: 400px;
    margin: 50px auto;
    font-family: Arial, sans-serif;
    text-align: center;
    
  }
  
  .logo-container {
    text-align: left;
    margin-bottom: 20px;
  }
  
  .logo {
    max-width: 50px;
    height: auto;
  }
  
  .reset-form {
    padding: 20px;
    margin-top: 150px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .reset-form h2 {
    color: #333;
    margin-bottom: 20px;
  }
  

  .input-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #f9f9f9;
  }
  
  .input-group .icon {
    margin-right: 10px;
    color: #888;
  }
  
  .input-group input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 14px;
    background: none;
  }
  
  
  .reset-button {
    width: 100%;
    padding: 10px;
    background-color: #004aad;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .reset-button:hover {
    background-color: #002f6c;
  }
  